<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/buchung.css">
<style type="text/css">
</style>

<div id="con">
<div class="login-form" style="display:inline-block; text-align: left;">
  <form action="/buchung/<%= termin._id %>/login" method="post">
    <h2 class="text-center">Einloggen und Termin buchen</h2>		
    <p>Datum: <%= termin.dateFormated %></p>
    <% if(error != ''){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <%= error %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <% } %>
      <% if(success != ''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <%= success %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <% } %>
    <div class="form-row">
      <div class="col">
        <label for="username">E-Mail</label>
        <input type="email" class="form-control" id="username" placeholder="email" name="username"  value="louis@ch">
      </div>
      <div class="col">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" placeholder="password" name="password" value="24plechabo">
      </div>
    </div>
    <button id="but" type="submit" class="btn btn-primary"">Termin buchen</button>
    </form>
    
    <div class="or-separator"><i>oder</i></div>
    <form action="/buchung/<%= termin._id %>/register" method="post">
      <h2 class="text-center">Neuen Account registrieren und buchen</h2>
          <% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              <%= error.msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% }); %> <% } %> <% if(success_msg != ''){ %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
              <%= success_msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %> <% if(error_msg != ''){ %>
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
              <%= error_msg %>
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <% } %> 
      <div class="form-row">
        <div class="col">
            <label for="Vorname">Vorname</label>
            <input type="text" class="form-control" id="Vorname" placeholder="Vorname" name="vorname" value="Louis">
        </div>
        <div class="col">
            <label for="Nachname">Nachname</label>
            <input type="text" class="form-control" id="Nachname" placeholder="Nachname" name="nachname" value="Aebischer">
        </div>
    </div>
    <div class="form-row">
        <label for="username">E-Mail</label>
        <input type="email" class="form-control" id="username" placeholder="email" name="username"  value="Louis.Aebischer@stud.unibas.ch">
    </div>
    <div class="form-row">
            <label for="handy">Handy-Nummer</label>
            <input type="number" class="form-control" id="strasse" placeholder="handy" name="handy" value="0765741296">
    </div>
    <div class="form-row" id="password-div">
        <label for="password">Passwort</label>
        <input type="password" class="form-control" id="password" placeholder="password" name="password" value="password">
    </div>
      <!-- <div class="form-group radio">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" id="gridCheck" checked onclick="noAccount()">
          <label class="form-check-label" for="gridCheck">
            Account erstellen
          </label>
        </div>
      </div> -->
      <button id="but" type="submit" class="btn btn-primary">Termin buchen</button>
    </div>
  </form>
</div>
</div>

<script type="text/JavaScript">

</script>

<% include ../partials/footer %>