

<% include ../partials/header %>

    <div class="container-fluid position-relative">
        <div class="row position-relative">
            <div class="col-8 col-offset-4 Liste">

                <section class="innereListe">
                    <div class="filter">                     
                        <form>
                            <div class="form-row">
                              <div class="col">
                                <input type="text" class="form-control" placeholder="facharzt" id="facharzt">
                              </div>
                              <div class="col">
                                <input id="autocomplete" type="text" class="form-control" placeholder="ort">
                              </div>
                              <div class="col">
                                <input type="text" class="form-control" id="date">
                              </div>
                              <a type="button" class="btn btn-info" onclick=initMap()>Suche</a>
                            </div>
                            <script>                                
                                var map, places, infoWindow;
                                var autocomplete;
                                var countryRestrict = {"country" : "ch"}

                                function initMap() {
                                map = new google.maps.Map(document.getElementById('map'), {
                                    zoom: 7,
                                center: {lat: 47, lng: 8}
                                });

                                // Create the autocomplete object and associate it with the UI input control.
                                // Restrict the search to the default country, and to place type "cities".
                                autocomplete = new google.maps.places.Autocomplete(
                                    /** @type {!HTMLInputElement} */ (
                                        document.getElementById('autocomplete')), {
                                        types: ['(cities)'],
                                        componentRestrictions: countryRestrict
                                    });
                                places = new google.maps.places.PlacesService(map);

                                autocomplete.addListener('place_changed', onPlaceChanged);
                                }

                                // When the user selects a city, get the place details for the city and
                                // zoom the map in on the city.
                                function onPlaceChanged() {
                                var place = autocomplete.getPlace();
                                if (place.geometry) {
                                    map.panTo(place.geometry.location);
                                    map.setZoom(15);
                                    search();
                                } else {
                                    document.getElementById('autocomplete').placeholder = 'Enter a city';
                                }
                                }
                                

                            </script>
                            <script>
                                var field = document.getElementById("date");
                                var date = new Date();

                                field.value = date.getDate().toString().padStart(2, 0) + '.' + (date.getMonth() + 1).toString().padStart(2, 0) + '.' + date.getFullYear().toString();
                            </script>
                          </form>
                            <div class="row">
                                <div class="col-7">
                
                                </div>
                                <div class="col-1 tag">
                                    <div class="Wochentag">
                                        Mo
                                    </div>
                                    <div class="Datum">
                                        27.4
                                    </div>
                                </div>
                                <div class="col-1 tag">
                                    <div>
                                        Di
                                    </div>
                                    <div>
                                        28.4
                                    </div>
                                </div>
                                <div class="col-1 tag">
                                    <div>
                                        Mi
                                    </div>
                                    <div>
                                        29.4
                                    </div>
                                </div>
                                <div class="col-1 tag">
                                    <div>
                                        Do
                                    </div>
                                    <div>
                                        30.4
                                    </div>
                                </div>
                                <div class="col-1 tag">
                                    <div>
                                        Fr
                                    </div>
                                    <div>
                                        1.5
                                    </div>
                                </div>            
                            </div>

                    </div>
                    <% doc.forEach(function(doc){ %>
                    <div class="kachel">
                       

                            <div class="aufteilung row">
                                

                              <div class="col-7" onclick="location.href='/docs/<%= doc._id %>';" style="cursor: pointer;">
                                
                                  <div class="photo">
                                      <picture>
                                        <img src="<%= doc.image %>" style="height: 86px; width: 86px;">

                                      </picture>

                                  </div>
                                  <div class="text">
                                      <h3>
                                        <%= doc.name %>
                                        
                                      </h3>
                                      <span>
                                        <%= doc.spec %>
                                      </span>
                                      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                                      <div class="rating">
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star checked"></span>
                                        <span class="fa fa-star"></span>
                                        <span style="padding-left: 2em"> <%= doc.rating %> Bewertungen</span>
                                      </div>

                                  </div>

                            </div>
                            
                            

                            <div class="col-1 termin-spalte">
                                <div class="termin">08:00
                                </div>
                                <div class="termin">08:30
                                </div>
                                <div class="termin">9:00
                                </div>
                                <div class="termin">mehr
                                </div>
                            </div>
                            <div class="col-1 termin-spalte">
                                <div class="termin">08:00
                                </div>
                                <div class="termin">08:30
                                </div>
                                <div class="termin">9:00
                                </div>
                                <div class="termin">mehr
                                </div>
                            </div>
                            <div class="col-1 termin-spalte">
                                <div class="termin">08:00
                                </div>
                                <div class="termin">08:30
                                </div>
                                <div class="termin">9:00
                                </div>
                                <div class="termin">mehr
                                </div>
                            </div>
                            <div class="col-1 termin-spalte">
                                <div class="termin">08:00
                                </div>
                                <div class="termin">08:30
                                </div>
                                <div class="termin">9:00
                                </div>
                                <div class="termin">mehr
                                </div>
                            </div>
                            <div class="col-1 termin-spalte">
                                <div class="termin">08:00
                                </div>
                                <div class="termin">08:30
                                </div>
                                <div class="termin">9:00
                                </div>
                                <div class="termin">mehr
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
                    
                    
                </section>
                
            </div>

            <div class="karte-aussen col-4">
                <div id="karte-innen">
                        <div id="map"></div>

                          
                      </body>


                </div>
            </div>
        </div>


    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD7k5XIGkkgwdc7rcCSH10ZoGl-U3DlKiQ&callback=initMap&libraries=places " async defer></script>


<% include ../partials/footer %>
