<% include ../partials/header %>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-3 col-md-0"></div>
        <div class="col-xl-6 col-lg-9 col-md-12">
            <div class="row">
                <div class="col-3">
                  picture
                </div>
                <div class="col-9">
                  
                </div>
              </div>              
              <% let dayStart = 0 %>
              <form action="post">
                <button id="next" class="btn btn-primary">next</button>
              </form>
              

              <% function next(){ dayStart = dayStart + 10} %>
              <% console.log(dayStart)  %>
              <% for(i=dayStart; i < dayStart + 10; i++){ %>
                  <div>
                    <% if(data[i].length > 0 && data[i].length < 10){ %></10>
                        <span class="date row"></span>
                        <div class="row">
                        <% for(j = 0; j < 9; j++){ %>
                            <a href="/buchung/<%- data[i][j]._id %>" class="col-xs-2 termin-show">
                                <div>
                                    <%= data[i][j].startFormated %>
                                </div>
                            </a>
                        <% } %>
                        </div>
                    <% } if(data[i].length >= 10){ %>
                        <span class="date row"></span>
                        <div class="row">
                        <% for(j = 0; j < 9; j++){ %>
                            <a href="/buchung/<%= data[i][j]._id %>" class="col-xs-2 termin-show">
                                <div>
                                    <%= data[i][j].startFormated %>
                                </div>
                            </a>
                        <% } %>
                        
                            <div class="more col-xs-2 termin-show " id="more-<%= [i] %>" onclick="showAll(<%= [i] %>)">
                                more
                            </div>
                        
                        <% for(j = 9; j < data[i].length; j++){ %>
                            <a href="/buchung/<%= data[i][j]._id %>" class="col-xs-2 termin-show day-<%= [i] %> hidden">
                                <div>
                                    <%= data[i][j].startFormated %>
                                </div>
                            </a>
                        <% } %>
                        </div>
                    <% } else { %>
                        <span class="date row"></span>
                    <% } %>
                  </div>
              <% } %>
        </div>  
    </div>
</div>
<script>

//    const Wochentage = ["Sonntag", "Montag", "Dienstag", "Mittwoch", "Donnerstag", "Freitag", "Samstag"]
const dateArray = []
for(i=1; i<365; i++){
    const day = moment().add(i, "d").locale("de").format("dddd DD.MM.YYYY")
    dateArray.push(day)
}
let date = 0
document.getElementById("next").addEventListener("click", function() {
  date = date + 10
  console.log(date)
})
const dateEl = document.querySelectorAll(".date")
for (let index = date; index < date + 10; index++) {
    const element = dateEl[index];
    element.innerHTML = dateArray[index]
}
function showAll(day){
    const more = document.getElementById("more-" + day)
    const list = document.getElementsByClassName("day-" + day)
    for (var i = 0; i < list.length; i++) {
        list[i].classList.remove("hidden")
    }
    more.classList.add("hidden")
}

const da = JSON.parse(<%- dataStringified %>)
console.log(da)

</script>
<style>
    .date {
        margin: 15px;
        font-family: sharp-sans-bold, Arial, sans-serif;
        font: 18px sharp-sans-semibold, Arial, sans-serif;
        color:rgb(0, 35, 75)
        
    }
    
    .more {
        cursor: auto
    }
    .termin-show {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 4px;
    margin: 5px;
    height: 31px;
    min-width: 52px;
    background-color: rgb(255, 240, 75);
    text-align: center;
    cursor: pointer;
    color: black;
}
</style>

<% include ../partials/footer %>


<script>

</script>